* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    background: black;
    color: white;
}

.container {
    width: 80%;
    margin: 100px auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 500px;
    background-color:blueviolet;
    box-shadow: 0px 0px 5px 3px white;
    border-radius: 12px;
}

.hero-right {
    text-align: center;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    display: none;
    height: 500px;
    background-color:blueviolet;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 3px white;
}

.hero-left input {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 12px;
}

button {
    padding: 8px 25px;
    border: 2px solid white;
    border-radius: 12px;
    background: transparent;
    color: white;
    font-weight: 900;
    font-size: 12px;
}

.cards {
    height: 400px;
}


.card {
    width: 400px;
    border: 2px solid grey;
    height: 70px;
    display: flex;
    margin-left: 30px;
    background: transparent;
    align-items: center;
    margin-top: 20px;
    border-radius: 12px;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: black;
}

.card button {
    color: black;
    border: 2px solid black;
    margin-right: 10px;
}

.image {
    border: 2px solid grey;
    width: 60px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeX{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    font-weight: 900;

}
.img {
    width: 5px;
}




